.side_ber
  .side_ber__username
    .side_ber__username__topitems
      %p.side_ber__username__topitems__name
        masa
      %ul.side_ber__username__topitems__icons
        %li.side_ber__username__topitems__icons__new
          =link_to "#",class:"side_ber__username__topitems__icons__new__icon" do
            %i.fa.fa-edit
          
        %li.side_ber__username__topitems__icons__edit
          =link_to "#",class:"side_ber__username__topitems__icons__edit__icon" do
            %i.fa.fa-cog
  .side_ber__group
    =link_to "#",class:"side_ber__group__select" do
      .side_ber__group__select__list
        %p.side_ber__group__select__list__name
          techcamp
        %p.side_ber__group__select__list__latest-message
          まだメッセージがありません
    =link_to "#",class:"side_ber__group__select" do
      .side_ber__group__select__list
        %p.side_ber__group__select__list__name
          techcamp
        %p.side_ber__group__select__list__latest-message
          まだメッセージがありません
   
          